* {
    box-sizing: border-box;
    font-family: 'Lora';
}

body {
    margin: 0;
}

:root {
    --max-page-width: 1280px;

    --color-surface: white;
    --color-surface-variant: #F4F4F4;
    --color-primary: #035BA8;
    --color-on-primary: white;
    --color-on-surface:#333;
    --color-on-surface-variant: #7F7F7F;

    /* --page-margin: 24px;
    --default-border-radius: 4px;
    --border-radius-medium: 8px;
    --color-primary: #448bd2;
    --color-primary-light: #448bd215;
    --color-primary-dark: #337ac2;
    --color-primary-variant: #D33396;
    --color-primary-variant-dark: #b10b71;
    --color-error: rgb(245, 76, 76);
    --color-success: rgb(53, 184, 107);
    --color-primary-variant-light: #d3339621;
    --color-tertiary: #6F40BD;
    --color-secondary: White;
    --color-on-secondary: #210053b6;
    --surface-color: #F5F5F5;
    --surface-variant-color: #ffffff;
    --surface-dark-color: #e0e0e0; */



    --big-font: 42px;
    --average-2-font: 24px;
    --average-font: 20px;
    --medium-font: 16px;
    --medium-2-font: 18px;
    --small-font: 12px;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

.page {
    max-width: var(--max-page-width);
    margin: auto;
    padding: 0 24px;
}

p {
    font-size: 18px;
    line-height: 1.6;
}


h1 {
    font-size: var(--big-font);
    color: var(--color-on-surface);
}

h2 {
    font-size: var(--average-2-font);
    color: var(--color-on-surface);
}

h3 {
    font-size: var(--average-font);
    color: var(--color-on-surface);
}

h4 {
    font-size: var(--medium-2-font);
    color: var(--color-on-surface);
}

button.primary{
    background: var(--color-primary);
    border-radius: 4px;
    color: var(--color-on-primary);
    border: none;
    border: 1px solid var(--color-primary);
    font-size: var(--medium-font);
    padding: 0.6em 1.2em;
    
}

a{
    color: var(--color-on-surface);
    text-decoration: none;
}

button.primary-outline{
    background: transparent;
    border-radius: 4px;
    color: var(--color-primary);
    border: none;
    border: 1px solid var(--color-primary);
    font-size: var(--medium-font);
    padding: 0.6em 1.2em;
}

button.icon-button{
    background-color: transparent;
    border: none;
    fill: var(--color-on-surface);
    display: flex;
    align-items: center;
    justify-content: center;
}

button.icon-button svg{
    fill: inherit;
}




/* 
@media only screen and (max-width: 700px) {
    :root {
        --page-margin: 12px;
    }
} */