/* cyrillic-ext */
@font-face {
    font-family: 'Lora';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/lora/v32/0QI6MX1D_JOuGQbT0gvTJPa787weuxJMkq1umA.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

/* cyrillic */
@font-face {
    font-family: 'Lora';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/lora/v32/0QI6MX1D_JOuGQbT0gvTJPa787weuxJFkq1umA.woff2) format('woff2');
    unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* vietnamese */
@font-face {
    font-family: 'Lora';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/lora/v32/0QI6MX1D_JOuGQbT0gvTJPa787weuxJOkq1umA.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}

/* latin-ext */
@font-face {
    font-family: 'Lora';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/lora/v32/0QI6MX1D_JOuGQbT0gvTJPa787weuxJPkq1umA.woff2) format('woff2');
    unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
    font-family: 'Lora';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/lora/v32/0QI6MX1D_JOuGQbT0gvTJPa787weuxJBkq0.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

* {
    box-sizing: border-box;
    font-family: 'Lora';
}

body {
    margin: 0;
}

:root {
    --max-page-width: 1280px;

    --color-surface: white;
    --color-surface-variant: #F4F4F4;
    --color-primary: #035BA8;
    --color-on-primary: white;
    --color-on-surface: #333;
    --color-on-surface-variant: #7F7F7F;

    --big-font: 42px;
    --average-2-font: 24px;
    --average-font: 20px;
    --medium-font: 14px;
    --medium-2-font: 16px;
    --small-font: 12px;

    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

.page {
    max-width: var(--max-page-width);
    margin: auto;
    padding: 0 24px;
}

p {
    color: var(--color-on-surface-variant);
    margin: 1em 0;
}

h1,
h2,
h3,
h4 {
    color: var(--color-on-surface);
    font-weight: normal;

}

p,
a,
span {
    font-size: var(--medium-font);
    line-height: 1.6;
}

h1 {
    font-size: var(--big-font);
}

h2 {
    font-size: var(--average-2-font);
}

h3 {
    font-size: var(--average-font);
}

h4 {
    font-size: var(--medium-2-font);
}

button{
    transition: all 200ms;
}
button:hover{
    transform: scale(1.05, 1.05);
}

button.primary {
    background: var(--color-primary);
    border-radius: 4px;
    color: var(--color-on-primary);
    border: none;
    border: 1px solid var(--color-primary);
    font-size: var(--medium-font);
    padding: 0.6em 1.2em;
    fill: white;
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;

}

button.primary svg {
    fill: inherit;

}

a {
    color: var(--color-on-surface);
    text-decoration: none;
}

button.primary-outline {
    background: transparent;
    border-radius: 4px;
    color: var(--color-primary);
    border: none;
    border: 1px solid var(--color-primary);
    font-size: var(--medium-font);
    padding: 0.6em 1.2em;
}

button.icon-button {
    background-color: transparent;
    border: none;
    fill: var(--color-on-surface);
    display: flex;
    align-items: center;
    justify-content: center;
}

button.icon-button svg {
    fill: inherit;
}


/* Hide scrollbar for Chrome, Safari and Opera */
.hide-scroll::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scroll {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}





@media only screen and (max-width: 700px) {
    .page {
        padding: 0 16px;
    }

    h1 {
        font-size: calc(var(--big-font) - 8px);
    }
    
    h2 {
        font-size: calc(var(--average-2-font) - 2px);
    }
    
    h3 {
        font-size: calc(var(--average-font) - 2px);
    }
    
}

@media only screen and (max-width: 600px) {
    .page {
        padding: 0 12px;
    }
}